 {% extends "ImieNetworkSiteBundle:Administration:layout.html.twig" %} 

{% block content %}
    <h1>Nouvel utilisateur</h1>
{{ form_start(form) }}
 <select name='groupeutilisateurchoice'>
    {%  for groupeutilisateur  in groupentities %}
       <option value={{groupeutilisateur.id}}>
           {{ groupeutilisateur.libelle }}
       </option>
    {% endfor %}
    </select>
{{ form_end(form) }}
<a href="{{ path('utilisateur') }}">
            <button class="btn btn-primary">Retour à la liste des utilisateurs</button>
        </a>
{% endblock %}
