<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}IMIE - {% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/ImieNetworkSite/css/bootstrap-theme.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/ImieNetworkSite/css/IMIE.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/ImieNetworkSite/css/bootstrap.min.css') }}" />
        <script src="{{ asset('bundles/ImieNetworkSite/js/jquery-2.1.1.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/ImieNetworkSite/js/bootstrap.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/ImieNetworkSite/js/kendoui.core/js/kendoui.min.js') }}" type="text/javascript"></script>
        {% block HeaderJavascripts %}{% endblock %}

    </head>
    <body>           
        {% block ContentHeader %}{% endblock %}
        {% block ContentNav %}{% endblock %}
        
            <main class="contentMain">
                <div class="col-md-10">
            {% block content %}{% endblock %}
                </div>
            </main>

        {% block javascripts %}{% endblock %}
    </body>
</html>
