{% extends "ImieNetworkSiteBundle:Entreprise:layout.html.twig" %}

{% block content %}
    {% for offre in offres %}
        <div class="container">
            <div class="col-md-6">
                <a href="{{ path('entrepriselShowMesOffres/'{{ offre.id }})}}"> <h3>{ offre.titre }</h3> </a>
                <p>{ offre.description }</p>
            </div>
            <div  class="col-md-6">
                </br>
                <p>
                    <a href="{{ path('entrepriselModifOffre/'{{ offre.id }})}}"> <button type="button" class="btn btn-primary">Editer</button> </a>
                    <a href="{{ path('entrepriselDeleteOffre/'{{ offre.id }})}}"> <button type="button" class="btn btn-default">Supprimer</button> </a>
                </p>
                    <p><strong>12/12/2012</strong></p>
            </div>
        </div>
    {% endfor %}
    
{% endblock %}