{% extends "ImieNetworkSiteBundle:Entreprise:layout.html.twig" %}

{% block content %}
<div class="container">
    <div class="col-md-10">
        <h3 class="text-center">{{ offre.titre }}</h3>
        <dl class="dl-horizontal">
            <dt>Contenu: </dt>
            <dd>{{ offre.description }}</dd>
            <dt>Type: </dt>
            <dd>{{ offre.contrat }}</dd>
            <dt>Date de debut: </dt>
            <dd>{{ offre.datedebut }}</dd>
            <dt>Date de fin: </dt>
            <dd>{{ offre.datefin }}</dd>
            <dt>Durée: </dt>
            <dd>{{ offre.duree }}</dd>
            <dt>Détail contact: </dt>
            <dd>{{ detailContact.libelle }}</dd>
         </dl>
    </div>
    <div  class="col-md-10">
        </br>
        <p class = "text-center"> <button type="button" class="btn btn-primary">Editer</button>
            <button type="button" class="btn btn-default">Supprimer</button>
        </p>
    </div>
</div>
    
    
{% endblock %}