{% extends "ImieNetworkSiteBundle:Eleve:layout.html.twig" %}

{% block content %}
<form role="form" action="{{ path('offre_showsearch') }}" method='get'>
    <table>
        <tr>
            <th>Choix de contrat</th>
            <td>
                <select name="selectcontrat">
                    <option value="empty"></option> 
                    {% for entity_contrat in datacontrat %}
                    <option value="{{entity_contrat.id}}">{{entity_contrat.libelle}}</option> 
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <th>Choix de la ville</th>
            <td>
                <select name="selectville">
                    <option value="empty"></option>
                    {% for entity_ville in dataville %}
                    <option value="{{entity_ville.id}}">{{entity_ville.libelle}} {{entity_ville.codepostal}}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
    </table>
    <button class='btnsave' value="Afficher" id="afficher">{{'Recherche'|trans }}</button>
</form>
<br>
<a href="{{ path('offre_showsearch_all') }}">Voir toutes les offres</a>
{% endblock %}