{% extends "ImieNetworkSiteBundle:Eleve:layout.html.twig" %}

{% block content %}
<h1>Résultat de la recherche</h1>

{% if res %}
    <table>
        <thead>
            <tr>
                <th>Titre de l'offre</th>
                <th>Description</th>
                <th>Durée du contrat</th>
                <th>Type de poste</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in res %}
            <tr>
                <td>{{ entity.titre }}</td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.duree }}</td>
                <td>{{ entity.typeposte }}</td>
                <td>
                    <a href="{{ path('offre_show', { 'id': entity.id }) }}">Description</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>Aucun résultat</p>
    {% endif %}

{% endblock %}