{% extends "ImieNetworkSiteBundle:Eleve:layout.html.twig" %} 
{#{% extends '::base.html.twig' %}#}

{% block content %}
    <h1>Détail de l'offre</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Titre de l'offre</th>
                <td>{{ entity.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Information sur le contact</th>
                <td>{{ entity.detailcontact }}</td>
            </tr>
            <tr>
                <th>Durée du contrat</th>
                <td>{{ entity.duree }}</td>
            </tr>
            <tr>
                <th>Type de poste</th>
                <td>{{ entity.typeposte }}</td>
            </tr>
            <tr>
                <th>Date de début de l'offre</th>
                <td>{{ entity.datedebut|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Type de contrat</th>
                <td>{{ entity.idtypecontrat.libelle }}</td>
            </tr>
            <tr>
                <th>Lieu de l'offre</th>
                <td>{#{{ entity.idville }}#}</td>
            </tr>
            <tr>
                <th>Compétence pour l'offre</th>
                <td>{#{{ entity.idcompetence }}#}</td>
            </tr>

        </tbody>
    </table>
    <br>
    <a href="{{ path('offre') }}">Retour aux offres</a>
{% endblock %}
