{% extends "ImieNetworkSiteBundle::masterLayout.html.twig" %}

{% block title %}Profil{% endblock %}

{% block stylesheets %}        
  <link rel="stylesheet" href="{{ asset('bundles/imienetworksite/css/main.css') }}" type="text/css" media="all" />
{% endblock %}

{% block headerJavascript %}    
    
{% endblock %}


{% block body %}
   
    {% block contentHeader %}   
    
    {% endblock %}
    
    
    {% block content %}
        <div id="profil">
            <div class="align" id="info-user">
                <!--<img alt="user-logo" src="" />-->
                <div id="logo-user"></div>
                <h3>{{ user.nom }} {{ user.prenom }}</h3>
                <h4><span class="rouge">{{ promotion.libelle }}</span> - {{ promotion.annee}}</h4>
            </div>
            <div class="align">
                <button type="button" class="btn btn-default btn-blue" id="button">Ajouter à mes contacts</button>
            </div>
        </div>
        <div class="profil-bloc">            
            <h2>Son entreprise</h2>  
        </div>
        <div id="skills" class="profil-bloc">
            <h2>Ses compétences</h2>  
            <div id="skills-level">
                {% for competence in competences %}
                    <div class="stars-content">
                        <label class="skill-label">{{competence.idcompetence.libelle}}</label>
                        {% for i in range(1, competence.note)%}
                            <span class="glyphicon glyphicon-star star" ></span>                        
                        {% endfor %}
                        {% if 5-competence.note != 0 %}
                            {% for i in range(1, 5-competence.note)%}
                                <span class="glyphicon glyphicon-star star empty" ></span>
                            {% endfor %}                            
                        {% endif %}  
                    </div>
                {% endfor %}
            </div>
        </div>
        
     {% endblock %}     
     
     {% block contentFooter %}   
    
    {% endblock %}
    
{% endblock %}